.App {
  font-family: sans-serif;
  text-align: center;
}

.question {
  margin: 20px auto;
  width: 60%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.question h2 {
  margin-bottom: 10px;
}

.options {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.options > li > button {
  margin-bottom: 10px;
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db; /* Add a background color */
  color: #fff; /* Set text color to white */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Add a hover effect */
button:hover {
  background-color: #2cc270;
  border-color: #2980b9;
}

/* Add a transition for smooth hover effect */
button {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.results {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.results ul {
  list-style: none;
  padding: 0;
}
.results span {
  color: red;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}
.results li {
  margin-bottom: 15px;
}
.results li[data-correct="true"] {
  color: green;
}
.results li[data-correct="false"] {
  color: red;
}
